<%= content_for :page_title, 'Hiring Information' %>

<div class="container">
  <h1 class="text-center">Want to Get Started?</h1>
  <p class="text-center col-md-8 col-md-push-2">One of the first things people want to know when they're considering a website is the question of cost.  Here's the skinny, as gleaned from the top Google hits for "how much does a website cost":</p>

  <div class="row">
    <hr class="col-xs-6 col-xs-push-3">
  </div> <!-- row -->

  <div class="row text-center">

    <div class="col-sm-4 site-quote">
      <%= image_tag 'icon_small.jpg', class: "size-icon" %>
      <h1>Small Site</h1>
      <p class="description">A small website is only a few pages (usually under 10). These sites are enough for personal pages or resumes, small businesses or organizations, or basic informational purposes.</p>
      <p>$2,000 - $5,000
        <br><a href="https://www.atilus.com/what-does-a-website-cost-web-site-development-costs/#basic">Atilius Quote</a>
      </p>
      <p>$7,000 - $10,000
        <br><a href="http://executionists.com/much-website-cost-2016/">Executionists Quote</a>
      </p>Up to $2,500
        <br><a href="http://www.nfib.com/content/resources/technology/what-does-it-really-cost-to-build-a-small-business-website-64151/">NFIB Quote</a>
      <p>
      <div class="orange-box">
        <h4>$200 - $800
          <br>Liz's Price Range
        </h4>
      </div> <!-- orange box -->
    </div> <!-- column -->

    <div class="col-sm-4 site-quote">
      <%= image_tag 'icon_medium.jpg', class: "size-icon" %>
      <h1>Medium Site</h1>
      <p class="description">Medium sites are more functional than small ones.  This could include a blog setup, user login accounts, admin functionality, comments sections, and other features.</p>
      <p>$7,500 - $30,000
        <br><a href="https://www.atilus.com/what-does-a-website-cost-web-site-development-costs/#basic">Atilius Quote</a>
      </p>
      <p>$11,000 - $20,000
        <br><a href="http://executionists.com/much-website-cost-2016/">Executionists Quote</a>
      </p>$2,500 - $5,000
        <br><a href="http://www.nfib.com/content/resources/technology/what-does-it-really-cost-to-build-a-small-business-website-64151/">NFIB Quote</a>
      <p>
      <div class="orange-box">
        <h4>$800 - $2,500
          <br>Liz's Price Range
        </h4>
      </div> <!-- orange box -->
    </div> <!-- column -->

    <div class="col-sm-4 site-quote">
      <%= image_tag 'icon_large.jpg', class: "size-icon" %>
      <h1>Large Site</h1>
      <p class="description">Large sites are incredibly complex. These monsters include massive quantities of content, along with complex back-end features like e-commerce, user profiles, and databases.</p>
      <p>$15,000 - $100,000+
        <br><a href="https://www.atilus.com/what-does-a-website-cost-web-site-development-costs/#basic">Atilius Quote</a>
      </p>
      <p>$20,000 - $40,000
        <br><a href="http://executionists.com/much-website-cost-2016/">Executionists Quote</a>
      </p>$5,000+
        <br><a href="http://www.nfib.com/content/resources/technology/what-does-it-really-cost-to-build-a-small-business-website-64151/">NFIB Quote</a>
      <p>
      <div class="orange-box">
        <h4>$2,500 - $15,000+
          <br>Liz's Price Range
        </h4>
      </div> <!-- orange box -->
    </div> <!-- column -->

  </div> <!-- row -->

  <div class="row">
    <hr class="col-xs-6 col-xs-push-3">
  </div> <!-- row -->

  <div class="col-sm-12 text-center">
    <h2>Additional Services</h2>
    <h4>Social media strategy and templates, content creation, copywriting, photo editing, analytics, SEO, branding, logo design, print material design, graphic design for advertisements and/or marketing pieces, etc.</h4>
  </div>

  <div class="row">
    <hr class="col-xs-6 col-xs-push-3">
  </div> <!-- row -->

  <div class="text-center row">
    <%= link_to "Get a Proposal", new_inquiry_path, class: "btn hvr-grow", style: "margin-bottom: 10px" %>
  </div> <!-- button row -->


</div> <!-- page container -->
