<%= content_for :page_title, 'Portfolio' %>

<div class="container">
  <div class="row text-center">
    <h1>As seen on...</h1>
    <p class= "col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">I work as a full stack programmer using Ruby, Rails, JavaScript, HTML, and CSS.  For examples of my work, check out the following sites:</p>
  </div> <!-- row -->

  <div class="row text-center">

    <%= link_to "http://www.lagunagreenworks.com" do %>
      <div class="col-sm-6 col-md-4">
        <div class="site-preview-box">
          <h2>Laguna<br>Greenworks</h2>
          <h4>Branding, Logo Design, Site Layout, Web Development</h4>
          <%= image_tag 'portfolio_lgw.jpg', class: "portfolio-image" %>
          <div class="p-box">
            <p><a href="www.lagunagreenworks.com">Laguna Greenworks</a> is a distributor for environmentally-friendly products.
              <strong>The design of this website was interesting because it was necessary to encorporate branding elements from the products sold as well as the company itself.</strong></p>
          </div> <!-- p box -->
        </div> <!-- site preview box -->
      </div> <!-- column box -->
    <% end %>

    <%= link_to "http://www.geneticgolf.com" do %>
      <div class="col-sm-6 col-md-4">
        <div class="site-preview-box">
          <h2>WIP:<br>Genetic Golf</h2>
          <h4>Site Layout, Copy Editing, Web Development</h4>
          <%= image_tag 'portfolio_gg.jpg', class: "portfolio-image" %>
          <div class="p-box">
            <p><a href="www.geneticgolf.com">Genetic Golf</a> is a golf training website that delivers golf tips based on your genetic makeup.
              <strong>This site has a particularly complex backend, linking content to the results from a series of quizzes taken by the users.</strong></p>
          </div> <!-- p box -->
        </div> <!-- site preview box -->
      </div> <!-- column box -->
    <% end %>

    <%= link_to "http://www.manlyartofbbq.com" do %>
      <div class="col-sm-6 col-md-4">
        <div class="site-preview-box">
          <h2>The Manly<br>Art of BBQ</h2>
          <h4>Branding, Logo Design, Site Layout, Web Development</h4>
          <%= image_tag 'portfolio_mab.jpg', class: "portfolio-image" %>
          <div class="p-box">
            <p><a href="www.manlyartofbbq.com">The Manly Art of BBQ</a> is a humorous website that gives information on a variety of "manly" topics.
              <strong>This site has a vast array of user-submitted content sorted in a Reddit-like fashion, as well as a few online "tools" that were a lot of fun to develop.</strong></p>
          </div> <!-- p box -->
        </div> <!-- site preview box -->
      </div> <!-- column box -->
    <% end %>

    <%= link_to "http://www.linchpinindustries.com" do %>
      <div class="col-sm-6 col-md-4">
        <div class="site-preview-box">
          <h2>Linchpin<br>Industries</h2>
          <h4>Branding, Logo Design, Site Layout, Web Development</h4>
          <%= image_tag 'portfolio_lpi.jpg', class: "portfolio-image" %>
          <div class="p-box">
            <p><a href="www.linchpinindustries.com">Linchpin Industries, LLC</a> is a startup marketing company geared towards small and medium sized businesses.
              <strong>The most interesting part of designing this site was creating the client journey from requests for a proposal, proposals, rounds of changes, and finally the e-signing of a contract.</strong></p>
          </div> <!-- p box -->
        </div> <!-- site preview box -->
      </div> <!-- column box -->
    <% end %>

    <%= link_to "http://www.burnitathletics.com" do %>
      <div class="col-sm-6 col-md-4">
        <div class="site-preview-box">
          <h2>BurnIt<br>Athletics</h2>
          <h4>Branding, Logo Design, Site Layout, Web Development</h4>
          <%= image_tag 'portfolio_bia.jpg', class: "portfolio-image" %>
          <div class="p-box">
            <p><a href="www.burnitathletics.com">BurnIt Athletics</a> is an online fitness company that provides clients with online workout programs, videos, and tips.
              <strong>From a developer's perspective, the most fun part of designing this site was creating an online workout generator.</strong></p>
          </div> <!-- p box -->
        </div> <!-- site preview box -->
      </div> <!-- column box -->
    <% end %>

    <%= link_to "http://www.ocoutreach.com" do %>
      <div class="col-sm-6 col-md-4">
        <div class="site-preview-box">
          <h2>WIP:<br>OC Outreach</h2>
          <h4>Branding, Logo Design, Site Layout, Web Development</h4>
          <%= image_tag 'portfolio_oco.jpg', class: "portfolio-image" %>
          <div class="p-box">
            <p><a href="www.ocoutreach.com">OC Outreach</a> is a non-profit community organization that operates in the Orange County area.
              <strong>This was a fairly simple site functionality-wise, but it was cool to design every aspect of a site (logos, design, etc.) from the ground up.</strong></p>
          </div> <!-- p box -->
        </div> <!-- site preview box -->
      </div> <!-- column box -->
    <% end %>


  </div> <!-- row -->

</div> <!-- page container -->
