<div class="responsive-hero-div">
	<%= image_tag "blog.jpg", class: "responsive-hero-img", alt: "A keyboard with a blog button.  Does it create a blog?  If so, where can I buy one?" %>
</div> <!-- responsive hero div -->

<div class="overlap-responsive-image">
  <div class="row text-center" style="margin: 50px 0 0 0">
		<h1 class="over-image-text font-sans">Things I Didn't <br class="visible-xs">Use to Know</h1>
  </div> <!-- row -->
	<div class="col-sm-8 col-sm-push-2 text-center" style="padding-bottom: 25px">
		<h3 class="over-image-text">As I stumbled through the digital world, here are some things I have had to figure out the Google-intensive way.</h3>
	</div>
	<div class="row text-center">
		<div id="tag_cloud" class="col-xs-6 col-xs-push-3 bg-transparent" style="padding: 25px">
			<% tag_cloud Blog.tag_counts, %w[s m l] do |tag, css_class| %>
				<%= link_to tag.name, tag_path(tag.name), class: css_class %>
			<% end %>
		</div> <!-- tag cloud -->
	</div> <!-- tag cloud row -->
</div> <!-- overlap image -->

<div class="bg-white row">
	<div class="container blog">

		<div class="text-center top-pad-30">
			<% if current_user && current_user.admin %>
				<p><%= link_to "Write New Post", new_blog_path %></p>
			<% end %>
		</div> <!-- center header -->

		<div class="row text-center">
			<hr class="col-xs-6 col-xs-push-3">
		</div>

		<div>
			<% @blogs.each do |blog| %>
				<h2>
					<%= link_to blog.title, blog_path(blog) %>
					<% if current_user && current_user.admin %>
						<%= link_to edit_blog_path(blog) do %>
							<i class="icon ion-ios-compose-outline"></i>
						<% end %>
						<%= link_to blog_path(blog), method: :delete, confirm: "Are you sure you want to delete this blog entry?" do %>
							<i class="icon ion-ios-trash-outline"></i>
						<% end %>
					<% end %>
				</h2>
				<p><%= blog.teaser %></p>
				<p><strong>Tags: <%= raw blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></strong></p>
				<div class="row">
				    <hr class="col-xs-6 col-xs-push-3">
				</div> <!-- row -->
			<% end %>
		</div> <!-- blogs -->
	</div> <!-- page container -->
</div> <!-- white row -->
